# Ignore cloned sub-repositories
kokoro/
vagdhenu/

# Ignore generated audio outputs
*.wav

# Ignore Python compiler files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local configs / virtual environments
.venv/
venv/
env/
.env
